

.box
{
background-color:LightSlateGray  ;
height:300px;
width:250px;
border-radius:10px;
position:relative;
top:80px;
left:40%;
}

.keys
{
position:relative;
top:15px;
}

.button
{
width:40px;
height:30px;
border:none;
border-radius:8px;
margin-left:17px;
cursor:pointer;
border-top:2px solid transparent;
}

.button.pink
{
color:black;
background-color:#ff4561;
border-bottom:black 2px solid;
}

.button.black
{
color:black;
background-color:303030;
border-bottom:black 2px solid;
border-top:2px 303030 solid;
}

.button.orange
{
color:black;
background-color:orange;
border-bottom:black 2px solid;
}

.display
{
background-color:FloralWhite ;
width:220px;
position:relative;
left:15px;
top:20px;
height:40px;
}

.display input
{
left:3px;
top:3px;
height:32px;
color:black;
background-color:FloralWhite ;
text-align:right;
}


.pink:active
{
border-top:black 2px solid;
border-bottom:#ff4561 2px solid;
}

.black:active
{
border-top:black 2px solid;
border-bottom:#303030 2px solid;
}

.orange:active
{
border-top:black 2px solid;
border-bottom:FF9933 2px solid;
}

p
{
line-height:10px;
}

text{
text-align:right;
}